@if (concurso) {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-padding">
        <ion-back-button [mode]="'md'" [defaultHref]="'loterias/' + loteria" default-href="#"
                         text="Voltar"></ion-back-button>
      </ion-buttons>

      <ion-title>{{ translatedLoterias[concurso.loteria] }}</ion-title>
    </ion-toolbar>
  </ion-header>
}
<ion-loading
  [isOpen]="isLoading"
></ion-loading>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (concurso) {
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"> {{ translatedLoterias[concurso.loteria] }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item-group>
      <ion-item-group class="info-group">
        <ion-item>
          <ion-title>Concurso: {{ concurso.concurso }}</ion-title>
        </ion-item>
        <ion-item>
          <ion-title>Data: {{ concurso.data }}</ion-title>
        </ion-item>
      </ion-item-group>

      @for (resultado of concurso.dezenas; track resultado) {
        <ion-card class="ion-margin-bottom">
          <ion-card-header class="header">
            {{ resultado }}
          </ion-card-header>
        </ion-card>
      }
    </ion-item-group>
  }

</ion-content>
