<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-back-button [mode]="'md'" [defaultHref]="'loterias/' + loteria" default-href="#"
                       text="Voltar"></ion-back-button>
    </ion-buttons>

    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-loading
  [isOpen]="isLoading"
></ion-loading>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resultados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    @if (concurso) {
      <ion-item>Loteria: {{ translatedLoterias[concurso.loteria] }}</ion-item>
      <ion-item>Concurso: {{ concurso.concurso }}</ion-item>
      <ion-item>Dia do sorteio: {{ concurso.data }}</ion-item>

      @for (resultado of concurso.dezenas; track resultado) {
        <ion-card class="ion-margin-bottom">
          <ion-card-header class="header">
            {{ resultado }}
          </ion-card-header>
        </ion-card>
      }
    }
  </ion-item-group>
</ion-content>
