<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ translatedLoterias[loteria] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-loading
  [isOpen]="isLoading"
></ion-loading>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{ translatedLoterias[loteria] }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    @for (concurso of concursos$ | async; track concurso.concurso;) {
      <ion-card class="ion-margin-bottom">
        <ion-card-header (click)="goToConcurso(concurso.concurso)">
          <ion-card-title class="header">
            {{ concurso.concurso }}
          </ion-card-title>

          <ion-card-subtitle class="data-concurso">
            {{ concurso.data }}
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    }
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-buttons class="ion-padding" style="justify-content: end">
    <ion-back-button [mode]="'md'" default-href="loterias" text="Voltar"></ion-back-button>
  </ion-buttons>
</ion-footer>
